{% extends 'home/base.html'%}
{% block content %}

<ul class="nav justify-content-center pt-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link text-primary active" aria-current="page" href="{% url 'charts:show-charts1'%}">Week-wise</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="{% url 'charts:show-charts2'%}">Month-wise</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="{% url 'charts:show-charts3'%}">Year-wise</a>
    </li>
  </ul>
</ul>
<main>
  <div id="container" style="width:90%;">
      <canvas id="visitor-chart" data-url="{% url 'charts:visitor-chart1' %}"></canvas>
  </div>
</main>
<script>
  setTimeout(() => {
    window.location.reload(1);
  }, 600000);
</script>
{% endblock %}