{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div id="layoutSidenav_content">
    <main>
        <div id="container" style="width:80%;">
            <canvas id="visitor-chart" data-url="{% url 'charts:visitor-chart' %}"></canvas>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
            $(function() {

                var $visitorChart = $("#visitor-chart");
                $.ajax({
                    url: $visitorChart.data("url"),
                    success: function(data) {

                        var ctx = $visitorChart[0].getContext("2d");

                        new Chart(ctx, {
                            "type": "bar",
                            "data": {
                                "labels": data.labels,
                                "datasets": [{
                                    "label": "Visitors",
                                    "data": data.data,
                                    "fill": false,
                                    "backgroundColor": "rgba(176,216,230,2)",
                                    "lineTension": 0.1
                                }]
                            },
                            "options": {
                                responsive: true,
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'Visitor Bar Chart'
                                }
                            }
                        });

                    }
                });

            });
        </script>
    </main>
    <div class="container pb-3">
        <div class="row">
            <div class="col-2">
                <form action="#">
                    <div class="form-check-inline">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">A week Ago
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Two Weeks Ago
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio">Month Ago
                    </div>
                </form>
            </div>
            <div class="col-4">
                <form class="form-inline" action="#">
                    <div>
                        Start
                        <input type="date" class="form-control form-control-sm pb-1" name="start_date">
                    </div>
                    <div>
                        End
                        <input type="date" class="form-control form-control-sm ml-1" name="end_date">
                    </div>
                    <button type="submit" class="btn btn-primary ml-3">Go</button>
                </form>
            </div>
        </div>

    </div>
    <div class="text-right pr-5" style="position:fixed;top:10%;right:1%">
        <a href="{% url 'charts:chart-page'%}" class="btn btn-warning">Back To HomePage</a>
    </div>
</div>
{% endblock %}