{% extends 'home/base.html' %} 

{% load tz %}

{% block content %}
	<main style="margin-top: 30px;">
		<div class="container-fluid">
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th> Name </th>
									<th> Email </th>
									<th> Phone no. </th>
									<th> In Time </th>
									<th> Out Time </th>
									<th> Purpose </th>
									<th> Details </th>
								</tr>
							</thead>
							<tbody>
								{% for visitor in visitor_list %}
								<tr>
									<td>{{ visitor.name }}</td>
									<td>{{ visitor.email }}</td>
									<td>{{ visitor.mobile }}</td>
									{% timezone "Asia/Kolkata" %}
										<td>{% if visitor.in_time %}{{ visitor.in_time }}{% else %} NA {% endif %}</td>
										<td>{% if visitor.out_time %}{{ visitor.out_time }}{% else %} NA {% endif %}</td>
									{% endtimezone %}
									<td>{{ visitor.purpose}}</td>
									<td>
											<input type="hidden" name="delete_id" value="">
											<button type="submit" name="delete_btn" class="btn btn-info" onclick="window.location.href='{% url 'visitor-detail' visitor.id %}'"> DETAILS </button>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script>
		setTimeout(() => {
			window.location.reload(1);
		}, 6000000);
	</script>
{% endblock content %}