{% load static %}

<!DOCTYPE html>
<html lang=en>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <title>AtlasCopco</title>
</head>

<body>
    {% if not employeesignup %}
        <nav class="sb-topnav navbar navbar-expand navbar-light sticky-top" style="padding-left: 0; padding-top: 0; padding-bottom: 0; z-index: 1040;">
            <a class="navbar-brand" href="{% url 'home' %}" style="padding: 0;"><img class="logo" src="{% static 'base/AtlasCopcoLogo.png' %}" alt="Atlas Copco" width="auto" height="56px"></a> <a class="logout-button pl-3" id="sidebarToggle"><i class="fas fa-bars"></i></a>
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                        <form>
                            <a class="logout-button" type="button" name="logout-btn" href="{% url 'logout' %}"><i class="fas fa-power-off fa-2x"></i></a>
                        </form>
                </li>
            </ul>
        </nav>
    {% endif %}
    <div id="layoutSidenav">
        {% if request.user.is_active and not employeesignup %}
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="profile_info pb-2">
                            <i class="fas fa-user-circle fa-3x pb-1"style="color:white"></i>
                            <h4 class="profile-info-text pt-2">{{ request.user.first_name }} {{ request.user.last_name }}</h4>
                            <h4 class="profile-info-text pb-3" style="font-size: small;">{% if request.user.is_superuser and request.user.is_staff %} Admin{% elif request.user.is_staff and not request.user.is_superuser %} Security{% else %} Employee{% endif %}</h4>
                        </div>
                        <a class="pt-3 nav-link" href="{% url 'home' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-desktop"></i></div>
                            Dashboard <br>
                        </a>
                        {% if request.user.is_superuser and request.user.is_staff %}
                        <a class="nav-link" href="{% url 'user-signup' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                            User Registration
                        </a>
                        {% endif %}
                        {% if request.user.is_superuser or not request.user.is_staff %}
                        <a class="nav-link" href="{% url 'entry:new-visitor' %}">
                            <div class="sb-nav-link-icon"><i class="fa fa-user fa-fw"></i></div>
                            ADD new visitor
                        </a>
                        {% endif %}
                        {% if request.user.is_superuser and request.user.is_staff %}
                        <a class="nav-link" href="{% url 'charts:show-charts1'%}">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-pie"></i></div>
                            Charts
                        </a>
                        <a class="nav-link" href="{% url 'tables' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Reports
                        </a>
                        <a class="nav-link" href="{% url 'disabled' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-slash"></i></div>
                            Expired Bookings
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="small">
                    <div class="text-muted p-2 pb-2">Copyright &copy; Atlas Copco 2020</div>
                </div>
            </nav>
        </div>
        {% endif %}
        <!-- <div id="layoutSidenav_content"> -->
        <div id="layoutSidenav_content">
        {% if messages %} {% for message in messages %}
        <div class="row alert {% if message.tags == 'error' %} alert-danger{% else %} alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %} {% endif %}
        <div class="content">
            <div class="hero-image"></div>
        </div>
        {% block content %} {% endblock content %}
        
        <div class="footer mt-auto">
            <footer class="bg-light">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <!-- <div class="text-muted">Copyright &copy; Atlas Copco 2020</div> -->
                        <div>
                            
                        </div>
                        <div>
                            <p class="mt-2">Developed by | Smart Factory Solutions Team(I4.0)</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        </div>


    </div>

    <script>
        (function($) {
            "use strict";

            // Add active state to sidbar nav links
            var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
            $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function() {
                if (this.href === path) {
                    $(this).addClass("active");
                }
            });

            // Toggle the side navigation
            $("#sidebarToggle").on("click", function(e) {
                e.preventDefault();
                $("body").toggleClass("sb-sidenav-toggled");
            });
        })(jQuery);
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        $(function() {

            var $visitorChart = $("#visitor-chart");
            $.ajax({
                url: $visitorChart.data("url"),
                success: function(data) {

                    var ctx = $visitorChart[0].getContext("2d");

                    new Chart(ctx, {
                        "type": "line",
                        "data": {
                            "labels": data.labels,
                            "datasets": [{
                                "label": "Visitors",
                                "borderColor": "rgb(75,192,192)",
                                "data": data.data,
                                "fill": false,
                                "lineTension": 0,

                            }]
                        },
                        "options": {
                            scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: data.scaletype,
                            fontSize: 20
                        },
                        ticks: {
                            fontSize: 15
                        },
                        offset: true,
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'No Of Visitors',
                            fontSize: 20
                        },
                        ticks: {
                            fontSize: 15,
                            min:0,
                            precision: 0,
                        }
                        }]
                    },
                    title: {
                        display: true,

                        },
                    tooltips : {
                            position: 'nearest',
                            mode: 'index',
                            intersect: false,
                            yPadding: 10,
                            xPadding: 10,
                            caretSize: 8,
                        }
                    }
                    });
                }
            });

        });
    </script>
    <script type="text/javascript">

        $(function() {

        // Start the live stream when the modal opens
            $('#livestream_scanner').on('shown.bs.modal', function (e) {
                var screenshot = document.getElementById("capture");
                var canvas = document.getElementById("canvas");
        // how to send camera to the pop-up window?
        // the code just belowe starts camera but is not displaying it in the pop-up window

                var video = document.querySelector("#interactive-video");
                if (navigator.mediaDevices.getUserMedia) {

                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                    video.srcObject = stream;
                    })
                    .catch(function (error) {
                    console.log(error);
                    });
                }

                const doScreenshot = () => {
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    canvas.getContext('2d').drawImage(video, 0, 0);
                    video.pause();
                    var imagedata = canvas.toDataURL('image/png');
                    document.getElementById('imgdata').setAttribute("value", imagedata.split(',')[1]);
                    // Stop all video streams.
                    video.srcObject.getVideoTracks().forEach(track => track.stop());
                };

                screenshot.onclick = doScreenshot;

            });

            $('#livestream_photo').on('shown.bs.modal', function (e) {
                var screenshot = document.getElementById("photo-capture");
                var canvas = document.getElementById("photo-canvas");
        // how to send camera to the pop-up window?
        // the code just belowe starts camera but is not displaying it in the pop-up window

                var video = document.querySelector("#photo-interactive-video");
                if (navigator.mediaDevices.getUserMedia) {

                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                    video.srcObject = stream;
                    })
                    .catch(function (error) {
                    console.log(error);
                    });
                }

                const doScreenshot = () => {
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    canvas.getContext('2d').drawImage(video, 0, 0);
                    video.pause();
                    var imagedata = canvas.toDataURL('image/png');
                    document.getElementById('photo').setAttribute("value", imagedata.split(',')[1]);
                    // Stop all video streams.
                    video.srcObject.getVideoTracks().forEach(track => track.stop());
                };

                screenshot.onclick = doScreenshot;

            });

            $('#livestream_photo_id').on('shown.bs.modal', function (e) {
                var screenshot = document.getElementById("photo-id-capture");
                var canvas = document.getElementById("photo-id-canvas");
        // how to send camera to the pop-up window?
        // the code just belowe starts camera but is not displaying it in the pop-up window

                var video = document.querySelector("#photo-id-interactive-video");
                if (navigator.mediaDevices.getUserMedia) {

                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                    video.srcObject = stream;
                    })
                    .catch(function (error) {
                    console.log(error);
                    });
                }

                const doScreenshot = () => {
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    canvas.getContext('2d').drawImage(video, 0, 0);
                    video.pause();
                    var imagedata = canvas.toDataURL('image/png');
                    document.getElementById('photo_id').setAttribute("value", imagedata.split(',')[1]);
                    // Stop all video streams.
                    video.srcObject.getVideoTracks().forEach(track => track.stop());
                };

                screenshot.onclick = doScreenshot;

            });
        });

</script>
</body>

</html>