{% load static %}

<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="{% static 'home/bootstrap-4.5.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap-4.5.3-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap-4.5.3-dist/js/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <title>AtlasCopco</title>
</head>


<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container mt-5">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Atlas Copco</h1>
                                    </div>
                                    <form action="{% url 'login' %}" class="user" name="form1" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" name="username" class="form-control form-control-user" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control form-control-user" placeholder="Password">
                                        </div>
                                        <input type="submit" name="login_btn" class="btn btn-primary btn-user btn-block" value="Login">
                                        <hr>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>