{% extends 'home/base.html' %}

{% block content %}
	<main style="margin-top: 30px;">
		<div class="container-fluid">
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th> Username </th>
									<th> Email </th>
									<th> No.of Visitors </th>
									<th> ID proof no. </th>
									<th> Date </th>
									<th> Time </th>
									<th> EDIT </th>
								</tr>
							</thead>
							<tbody>
								{% for visitor in visitor_list %}
									<tr>
										<td>{{ visitor.name }}</td>
										<td>{{ visitor.email }}</td>
										<td>{{ visitor.no_of_people }}</td>
										<td>{{ visitor.photo_id_number }}</td>
										<td>{{ visitor.expected_in_time.date }}</td>
										<td>{{ visitor.expected_in_time.time }}</td>
										<td>
												<input type="hidden" name="edit_id" value="">
												<button type="submit" name="edit_btn" onclick="window.location.href='{% url 'entry:visitor-update' visitor.id %}'" class="btn btn-success"> EDIT</button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script>
		setTimeout(() => {
			window.location.reload(1);
		}, 600000);
	</script>
{% endblock content %}