{% extends 'home/base.html' %} {% block content %}


    <main style="margin-top: 30px;">
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Scan Photo & ID: Visitor no. {{ current_visitor }}
                    </h5>
                </div>
                <div class="card-body mt-3">
                    <div class="modal" id="livestream_photo">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Capture Photo</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="position: static">
                                    <div id="interactive" class="viewport">
                                        <video class="col ml-auto" crossorigin="anonymous" autoplay id="photo-interactive-video"></video>
                                        <canvas style="display: none;" id="photo-canvas"></canvas>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!--<label class="btn btn-default pull-left">
                                        <i class="fa fa-camera"></i> Use camera app
                                        <input type="file" accept="image/*;capture=camera" capture="camera" class="hidden">
                                    </label>-->
                                    <button type="button" id="photo-capture" class="btn btn-primary">Capture</button>
                                    <button type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
                                </div>
                            </div> <!-- /.modal-content -->
                        </div> <!-- /.modal-dialog -->
                    </div> <!-- /.modal -->
                    <div class="modal" id="livestream_photo_id">
                        <div class="modal-dialog modal-dialog-centered mt-0">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Capture Photo Id</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="interactive" class="viewport">
                                        <video class="col ml-auto" crossorigin="anonymous" autoplay id="photo-id-interactive-video"></video>
                                        <canvas style="display:none;" id="photo-id-canvas"></canvas>
                                    </div>
                                    <div class="error"></div>
                                </div>
                                <div class="modal-footer">
                                    <!--<label class="btn btn-default pull-left">
                                        <i class="fa fa-camera"></i> Use camera app
                                        <input type="file" accept="image/*;capture=camera" capture="camera" class="hidden">
                                    </label>-->
                                    <button type="button" id="photo-id-capture" class="btn btn-primary">Capture</button>
                                    <button type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
                                </div>
                            </div> <!-- /.modal-content -->
                        </div> <!-- /.modal-dialog -->
                    </div> <!-- /.modal -->
                        <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                           
                            <form method="post" onsubmit="return confirm('Is Security Training Given?');">
                            {% csrf_token %}
                            <tbody>
                                  <tr>
                                    <td class="pt-2 pb-2">Purpose of Visit:</td>
                                    <td class="pt-2 pb-2">{{ visitor.name }}</td>
                                    <td class="pt-2 pb-2">Employee to Visit:</td>
                                    <td class="pt-2 pb-2">{{ visitor.user.first_name }} {{ visitor.user.last_name }}</td>
                                  </tr>
                                  <tr>
                                    <td>Booked Visitor: </td>
                                    <td><input type="hidden" value="{{ visitor.id }}" disabled name="visitor">{{ visitor.name }}</td>
                                    <td>Actual No. of Visitors:</td>
                                    <td><input type="number" class="form-control"{% if visitor.actual_visitors %} value="{{ visitor.actual_visitors }}" disabled{% else %} required{% endif %} name="actual_visitors"></td>
                                  </tr>
                                  <tr>
                                    <td>Name</td>
                                    <td><input type="text" class="form-control" {% if current_visitor == 1 %} value="{{ visitor.name }}" {% endif %}name="name" placeholder="Name of visitor" required>
                                        {% if form.name.errors %}{% for error in form.name.errors %}{{ error }}{% endfor %}{% endif %}</td>
                                    <td>E-mail:</td>
                                    <td><input type="email" class="form-control" {% if current_visitor == 1 %} value="{{ visitor.email }}" {% endif %}name="email" placeholder="Email of visitor" required>
                                        {% if form.email.errors %}{% for error in form.email.errors %}{{ error }}{% endfor %}{% endif %}</td>
                                  </tr>
                                  <tr>
                                    <td>Scan Photo<span class="text-danger">*</span></td>
                                    <td><input type="hidden" id="photo" name="photo"><button data-toggle="modal" id="photobutton" data-target="#livestream_photo" type="button" class="btn btn-info">Take Photo</button></td>
                                    <td>Scan Id<span class="text-danger">*</span></td>
                                    <td><input type="hidden" id="photo_id" name="photo_id"><button data-toggle="modal" data-target="#livestream_photo_id" type="button" class="btn btn-info">Take ID</button></td>
                                </tr>
                                <tr>
                                    <td>Mobile Number<span class="text-danger">*</span></td>
                                    <td><input type="text" class="form-control" {% if form.mobile.value %}value="{{ form.mobile.value }}"{% endif %} name="mobile" placeholder="Enter Mobile Number" required></td>
                                </tr>
                                </tbody>
                                <caption class="text-right">
                                    <input class="btn btn-success mr-2" type="submit" value="Add Visitor">
                                    <a href="{% url 'pseudophotoscan' visitor.id %}"><button class="btn btn-success" name="addlater" value="AddLater" type="button">Add Later</button></a>
                                </caption>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
    </main>
{% endblock content %}