<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="Django" path="*" verb="*" modules="FastCgiModule"
            scriptProcessor="e:\atlas\atlas\scripts\python.exe|e:\atlas\atlas\lib\site-packages\wfastcgi.py"
            resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="E:\Atlas\atlas_project"/>
        <!-- The handler here is specific to Bottle; see the next section. -->
        <add key="WSGI_HANDLER" value="atlas_project.wsgi.application"/>
        <add key="DJANGO_SETTINGS_MODULE" value="atlas_project.settings"/>
    </appSettings>
</configuration>
