{% load static %}

<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="{% static 'home/bootstrap-4.5.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap-4.5.3-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap-4.5.3-dist/js/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <title>AtlasCopco</title>
</head>


<body>
    <div class="container mt-5">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Atlas Copco</h1>
                                    </div>
                                    <form action="{% url 'home' %}" class="user" name="form1" method="POST">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control form-control-user" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control form-control-user" placeholder="Password">
                                        </div>
                                        <input type="submit" name="login_btn" class="btn btn-primary btn-user btn-block" value="Login">
                                        <hr>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>




<!--{% load static %} {% comment %} {% load crispy_forms_tags %} {% endcomment %}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap-4.5.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap-4.5.2-dist/js/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <title>Login</title>
</head>

<body>
  
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mx-5" role="alert">
        <strong>Message : </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
    </div>
    {% endfor %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-5">

                    <h1 class="text-center">LOGIN</h1>

                    {% comment %} {{ form|crispy }} {% endcomment %}
                    <div id="div_id_username" class="form-group"> <label for="id_username" class=" requiredField" style="color: white;">
                Username<span class="asteriskField">*</span> </label>
                        <div class=""> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required id="id_username" placeholder="Username"> </div>
                    </div>
                    <div id="div_id_password" class="form-group"> <label for="id_password" class=" requiredField" style="color: white;">
                Password<span class="asteriskField">*</span> </label>
                        <div class=""> <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required id="id_password" placeholder="Password"> </div>
                    </div>
                    {% comment %} <label class="label-control-label">Username</label>

                    <div class="input-group">
                        <div class="input-group-text">
                            <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="black">
							<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
						</svg>
                        </div>

                        <input type="text" class="form-control" name="username" placeholder="Username">

                    </div>


                    <label class="label-control-label">Password</label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="black" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
							<path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
						</svg>
                        </div>

                        <input type="password" class="form-control" name="password" placeholder="password">
                    </div>
                    



                    <div class="row">
                        <div class="col-md-6">

                            <input type="checkbox"><small>Remember me</small>
                        </div>
                        <div class="col-md-6">
                            <a href="#">
                                <p class="text-right">Forgot Password</p>
                            </a>
                        </div>
                    </div> {% endcomment %}

                    <div class='button-control'>
                        <input type="submit" div class="btn btn-primary btn-lg btn-block" value="Log in">
                    </div>

                </div>

            </div>
    </form>

</body>

</html>
-->