{% extends 'home/base.html' %} {% load static %} {{ form.errors }} {{ employee_form.errors }} {% block content %}
<div id="layoutSidenav_content">

    <main style="margin-top: 30px;">
        <div class="modal fade" id="addadminprofile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add User Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <label> First Name </label>
                                <input type="text" name="first_name" class="form-control" placeholder="Enter Firstname">
                            </div>
                            <div class="form-group">
                                <label> Last Name </label>
                                <input type="text" name="last_name" class="form-control" placeholder="Enter Lastname">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" placeholder="Enter Email" required>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password1" class="form-control" placeholder="Enter Password" required>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
                            </div>
                            <div class="form-group">
                                <label class="form-check-label">Admin</label>
                                <input type="checkbox" name="admin" class="checkboxinput form-check-input">
                            </div>
                            <div class="form-group">
                                <label for="id_mobile" class=" requiredField">Mobile</label>
                                <input type="text" name="mobile" maxlength="10" class="textinput textInput form-control">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" name="registerbtn" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Admin Profile
                            <button type="button" class="ml-3 btn btn-primary text-left" data-toggle="modal" data-target="#addadminprofile">Add</button>
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th> ID </th>
                                        <th> Username </th>
                                        <th> Email </th>
                                        <th> Role </th>
                                        <th> EDIT </th>
                                        <th> DELETE </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <form action="register_edit.php" method="post">
                                                <input type="hidden" name="edit_id" value="<?php echo $row['id'];?>">
                                                <button type="submit" name="edit_btn" class="btn btn-success"> EDIT</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form action="code.php" method="post">
                                                <input type="hidden" name="delete_id" value="<?php echo $row['id'];?>">
                                                <button type="submit" name="delete_btn" class="btn btn-danger"> DELETE</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    </div>
    {% endblock content %}