@charset "ISO-8859-1";


*{
	margin:0px;
	padding: 0px;

}
body{
	background-image: url(Abhi.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: tahoma;

}

h1{
	font-size:30px;
	color:white;
	margin-top: 30px;
	margin-bottom: 60px;
}
.label-control-label{

	background:transparent;
	font-size:20px;
	color:white;
	margin-top: 30px;
}

.col-md-5{
	background:rgba(0,0,0,0.5);
	margin-top:40px;
}

.book-css{
	background:rgba(0,0,0,0);
	margin-top:40px;
	margin-left: 200px;
	margin-right: 400px;
}

.book-css-1{
	background:rgba(0,0,0,0);
	margin-top:40px;
	margin-left: 10px;
	margin-right: 100px;
}

.label{
	font-size:20px;
	font-weight:normal;
}
.input-group{
	margin-top: 10px;
	margin-bottom: 20px;
}
.input-group-addon{
	background:transparent;
	border-radius: 0px;
	border:0px;
	border-bottom: 1px solid white; 
	font-size:18px;
	color:grey;
}
.form-control{
	background:transparent;
	border-radius: 0px;
	border:0px;
	border-bottom: 1px solid white; 
	padding:15px;
	color:white;
	font-size:21px;
}

.dropdown{
	background:transparent;
	border-radius: 0px;
	border:0px;
	border-bottom: 1px solid white; 
	padding:15px;
	color:white;
	font-size:15px;
}

.input-group-text{
	background:transparent;
	border-radius: 0px;
	border:0px;
	border-bottom: 1px solid white; 
	font-size:18px;
	color:grey;
}

.button-control{
margin-bottom: 20px;
}

.button-control-sign{
	margin-top: 20px;
	margin-bottom: 20px;
}

input[type="checkbox"]{
	height:15px;
	width:15px;
}
small{
	font-size: 18px;
	color:white;
}
p{
	font-size: 18px;
	color:white;
}

h2{
	font-size: 30px;
	color:white;
}

option{
	color:gray;
}


ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    border-radius: 20px;
   
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}


ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

	
ul.ks-cboxtags li input[type="checkbox"] {
  position: relative;
  opacity: 0;
}
