{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %} {% load static %}



<div id="layoutSidenav_content">
	<div class="container mt-5">
		<div class="card shadow mb-4 mt-4">
			<div class="card-header py-3">
				<h2>Password Reset</h2>
			</div>
			<div class="card-body">
				<p> Forgotten your password ? Enter your email address below, and we'll email instructions for setting a new password.</p>
				<form method="post">

					{% csrf_token %} {{ form|crispy }}
					<button type="submit" class="btn btn-primary" name="Send email">Send Email</button>

				</form>
			</div>
		</div>
	</div>
	<div class="footer">
		<footer class="py-4 bg-light mt-auto">
			<div class="container-fluid">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-muted">Copyright &copy; Atlas Copco 2020</div>
					<div>
						<a href="#">Privacy Policy</a> &middot;
						<a href="#">Terms &amp; Conditions</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>



{% endblock %}