{% extends 'home/base.html' %} {% block content %} {% load static %}

<div id="layoutSidenav_content">
    <div class="container mt-5">
        <div class="card shadow mb-4 mt-4">
            <div class="card-header py-3">
                <h2>Password Reset Sent</h2>
            </div>
            <div class="card-body">
                <p> We've emailed you instructions for setting your password, if an account exist with email you entered. You should receive them shortly.</p>
                <p> If you don't receive an email , please make sure you've entered the email address you have registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Atlas Copco 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>



{% endblock %}