{% extends 'home/base.html' %} {% block content %} {% load static %}

<div id="layoutSidenav_content">
    <div class="container mt-5">
        <div class="card shadow mb-4 mt-4">
            <div class="card-header py-3">
                <h2>Enter New Password</h2>
            </div>
            <div class="card-body">
                <p> Please enter your new password twice so we can verify you typed it in correctly.</p>
                <form method="post">

                    {% csrf_token %} {{form.as_p}}
                    <button type="submit" class="btn btn-primary" name="Update Password">Update Password</button>

                </form>

            </div>
        </div>
    </div>
    <div class="footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Atlas Copco 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


{% endblock %}