{% load static %}

<!DOCTYPE html>
<html lang=en>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <title>AtlasCopco</title>
</head>

<body>

    <nav class="sb-topnav navbar navbar-expand navbar-light sticky-top" style="padding-left: 0; padding-top: 0; padding-bottom: 0; z-index: 1040;">
        <a class="navbar-brand" href="{% url 'home' %}" style="padding: 0;"><img class="logo" src="{% static 'base/AtlasCopcoLogo.png' %}" alt="Atlas Copco" width="auto" height="56px"></a> <a class="logout-button pl-3" id="sidebarToggle"></i></a>
        <ul class="navbar-nav ml-auto ">
        </ul>
    </nav>
    <div id="layoutSidenav_content">
		<div class="content">
			<div class="hero-image"></div>
		</div>
    {% block content %} {% endblock content %}
        <div class="footer">
		<footer class="py-4 bg-light mt-auto">
			<div class="container-fluid">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-muted">Copyright &copy; Atlas Copco 2020</div>
					<div>
                        <p class="mt-2">Developed by | Smart Factory Solutions Team(I4.0)</p>
                    </div>
				</div>
			</div>
		</footer>
	</div>

</div>


</body>
